.sep {
   display: flex;
    font-size: 8vw;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Courier New', Courier, monospace;
}
.id {
    margin: auto;
    text-align: center;
}

.text {
    background: url(cat.png) no-repeat;
    background-color: red;
    text-align: center;
    margin: auto;
    background-position: center;
    background-size: 70%;
}

.txt {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
}